{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block body %}
    <main id="main-container">

        <div class="content">
            <div class="block block-themed">
                <div class="block-header bg-warning">
                    <h3 class="block-title">Nous avons besoin d'en savoir plus sur vous ...</h3>
                </div>
                <div class="block-content">
                    <div class="col-md-12">
                        {% for succesMessage in app.flashes('success') %}
                            <div class="alert alert-success d-flex align-items-center justify-content-between" role="alert">
                                <div class="flex-fill mr-3">
                                    <p class="mb-0">{{ succesMessage }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="js-wizard-simple block">
                            <div class="progress rounded-0" data-wizard="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%; height: 8px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <ul class="nav nav-tabs nav-tabs-alt nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="" data-toggle="tab">2. Sport</a>
                                </li>
                            </ul>
                            {{ form_start(form) }}
                            <div class="block-content block-content-full text-center tab-content" style="min-height: 274px;">
                                <div class="tab-pane active" id="wizard-progress2-step1" role="tabpanel">
                                    <div class="block">
                                        <div class="row">
                                            {% for sport in form.children.nom.children%}
                                                <div class="col-md-2 mt-3 mb-3">
                                                    <div class="custom-control custom-block custom-control-success" data-children-count="1">
                                                        <input type="checkbox" class="custom-control-input" id="{{ sport.vars.id }}" name="{{ sport.vars.full_name }}" value="{{ sport.vars.name }}">
                                                        <label class="custom-control-label" for="{{ sport.vars.id }}">
                                                        <span class="d-block text-center">
                                                            {{ sport.vars.label }}
                                                        </span>
                                                        </label>
                                                        <span class="custom-block-indicator">
                                                        <i class="fa fa-check"></i>
                                                    </span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="block-content block-content-sm block-content-full bg-body-light">
                                <div class="row">
                                    <div class="col-6">
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="submit" class="btn btn-alt-secondary" data-wizard="finish">
                                            Suivant <i class="fa fa-angle-right ml-5"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest':false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

