{% extends 'security.html.twig' %}
{% block body %}
    <div id="page-container" class="main-content-boxed">
        <main id="main-container">
            <div class="bg-body-dark bg-pattern" style="background-image: url('{{ asset('assets/img/bg-pattern-inverse.png') }}');">
                <div class="row mx-0 justify-content-center">
                    <div class="hero-static col-lg-6 col-xl-4">
                        <div class="content content-full overflow-hidden">
                            <div class="py-30 text-center">
                                <a class="link-effect font-w700" href="">
                                    <i class="si si-fire"></i>
                                    <span class="font-size-xl text-primary-dark">Sporty</span>
                                </a>
                            </div>
                            {% for errorMessage in app.flashes('error') %}
                                <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                                    <div class="flex-fill mr-3">
                                        <p class="mb-0">{{ errorMessage }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for succesMessage in app.flashes('success') %}
                                <div class="alert alert-success d-flex align-items-center justify-content-between" role="alert">
                                    <div class="flex-fill mr-3">
                                        <p class="mb-0">{{ succesMessage }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if error %}
                                <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                                    <div class="flex-fill mr-3">
                                        <p class="mb-0">{{ error.messageKey | trans(error.messageData, 'security') }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <form  method="post" action="{{ path('security_login') }}">
                                <div class="block block-themed block-rounded block-shadow">
                                <div class="block-header bg-gd-dusk">
                                    <h3 class="block-title">Formulaire de connexion</h3>
                                </div>
                                <div class="block-content">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label for="Email">Email</label>
                                            <input class="form-control" type="text" name="_username" placeholder="Email" value="{{ lastUsername }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label for="Mot de passe">Mot de passe</label>
                                            <input class="form-control" type="password" name="_password" placeholder="Mot de passe">
                                        </div>
                                    </div>

                                    <div class="form-group row mb-0">
                                        <div class="col-sm-6 d-sm-flex align-items-center push"></div>
                                        <div class="col-sm-6 text-sm-right push">
                                            <button type="submit" class="btn btn-alt-primary">Connexion</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-content bg-body-light">
                                    <div class="form-group text-center">
                                        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" href="{{ path('security_register') }}">
                                            <i class="fa fa-plus mr-5"></i> Créer un compte
                                        </a>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
