{% extends 'security.html.twig' %}
{% block body %}
    <div id="page-container" class="main-content-boxed">
        <main id="main-container">
            <div class="bg-body-dark bg-pattern" style="background-image: url('{{ asset('assets/img/bg-pattern-inverse.png') }}');">
                <div class="row mx-0 justify-content-center">
                    <div class="hero-static col-lg-6 col-xl-4">
                        <div class="content content-full overflow-hidden">
                            <div class="py-30 text-center">
                                <a class="link-effect font-w700" href="index.html">
                                    <i class="si si-fire"></i>
                                    <span class="font-size-xl text-primary-dark">Sporty</span>
                                </a>
                            </div>
                            {{ form_start(form)}}
                            <div class="block block-themed block-rounded block-shadow">
                                <div class="block-header bg-gd-emerald">
                                    <h3 class="block-title">Formulaire d'inscription</h3>
                                    <div class="block-options">
                                    </div>
                                </div>
                                <div class="block-content">
                                    {{ form_errors(form) }}
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.username)}}
                                        </div>
                                    </div> <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.nom)}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.prenom)}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.email)}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.age)}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.password)}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form_row(form.confirm_password)}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                            <label class="col-12">Sexe</label>
                                            <div class="col-12">
                                                <label class="custom-control custom-checkbox">
                                                    {{ form_widget(form.sexe[0], { 'attr' : { 'class' : 'custom-control-input' } }) }}
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">{{ form_label(form.sexe[0])}}</span>
                                                </label>
                                                <label class="custom-control custom-checkbox">
                                                    {{ form_widget(form.sexe[1], { 'attr' : { 'class' : 'custom-control-input' } }) }}
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">{{ form_label(form.sexe[1])}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        {{ form_rest(form) }}
                                    <div class="form-group row mb-0">
                                        <div class="col-sm-12 text-sm-right push">
                                            <button type="submit" class="btn btn-alt-primary">Inscription</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-content bg-body-light">
                                    <div class="form-group text-center">
                                        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" href="{{ path('security_login') }}">
                                            <i class="fa fa-user text-muted mr-5"></i> Connexion
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


{% endblock %}
